<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/src/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="../assets/src/stylesheets/signin.css">
    <link rel="stylesheet" href="../assets/src/stylesheets/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
</head>
<body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="box" class="clearfix">
            <p id="text">
                Sign in
            </p>
            <input type="text" id="email-input" class="clearfix" placeholder="Email address">
            <input type="password" id="password-input" class="clearfix" placeholder="Password">
            <p id="forogt-pass-link">
                Forgot password&#x3f;
            </p>
            <a href="#">
                <input id="login-btn" type="button" value="LOG IN"></input>
            </a>
        </div>
        <div id="signup-container" class="clearfix">
            <p id="new-user">
                New user&#x3f; <a id="signup-link" href="#">Sign up</a>&nbsp;
            </p>
        </div>
    </div>
</body>
</html>