<!DOCTYPE html>
<html>

<!-- This code is only meant for previewing your Reflow design. -->

<head>
    <link rel="stylesheet" href="../assets/src/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="../assets/src/stylesheets/signin.css">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
</head>
<body>

<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="text">
            SIGN IN
        </p>
        <div id="email-input" class="clearfix">
            <p id="placeholder-email">
                Email address
            </p>
        </div>
        <div id="password-input" class="clearfix">
            <p id="placeholder-pass">
                Password
            </p>
        </div>
        <p id="forogt-pass-link">
            Forgot password&#x3f;
        </p>
        <a href="signin.html">
            <input id="login-btn" type="button" value="LOG IN"></input>
        </a>
    </div>
    <div id="signup-container" class="clearfix">
        <p id="new-user">
            New user&#x3f; <a id="signup-link" href="dashboard.html">Sign up</a>&nbsp;
        </p>
    </div>
</div>
</body>
</html>