<!DOCTYPE html>
<html>

<!-- This code is only meant for previewing your Reflow design. -->

<head>
    <link rel="stylesheet" href="boilerplate.css">
    <link rel="stylesheet" href="signup.css">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
</head>
<body>

<div id="primaryContainer" class="primaryContainer clearfix">
    <div id="box" class="clearfix">
        <p id="text">
            Sign up
        </p>
        <div id="box1" class="clearfix">
            <div id="firstname-input" class="clearfix">
                <p id="placeholder-email">
                    First Name
                </p>
            </div>
            <div id="lastname-input" class="clearfix">
                <p id="placeholder-email1">
                    Last Name
                </p>
            </div>
            <div id="email-input" class="clearfix">
                <p id="placeholder-email2">
                    Email address
                </p>
            </div>
            <div id="password-input" class="clearfix">
                <p id="placeholder-pass">
                    Password...
                </p>
            </div>
        </div>
        <a href="signin.html">
            <input id="signup-btn" type="button" value="SIGN UP"></input>
        </a>
    </div>
    <div id="box2" class="clearfix">
        <p id="text1">
            Sign up with
        </p>
        <div id="box3" class="clearfix">
            <a href="dashboard.html">
                <input id="feibu" type="button" value="Feibu"></input>
            </a>
            <a href="dashboard.html">
                <input id="input" type="button" value="Tuirer"></input>
            </a>
            <a href="dashboard.html">
                <input id="input1" type="button" value="Gugle&#x2b;"></input>
            </a>
            <a href="dashboard.html">
                <input id="input2" type="button" value="Guijob"></input>
            </a>
        </div>
    </div>
</div>
</body>
</html>