<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../assets/src/stylesheets/boilerplate.css">
    <link rel="stylesheet" href="../assets/src/stylesheets/signup.css">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
</head>
<body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="box" class="clearfix">
            <p id="text">
                Sign up
            </p>
            <div id="box1" class="clearfix">
                <input type="text" id="firstname-input" class="clearfix" placeholder="First Name">
                <input type="text" id="lastname-input" class="clearfix" placeholder="Last Name">
                <input type="text" id="email-input" class="clearfix" placeholder="Email address">
                <input type="text" id="password-input" class="clearfix" placeholder="Password">
            </div>
            <a href="#">
                <input id="signup-btn" type="button" value="SIGN UP"></input>
            </a>
        </div>
        <div id="box2" class="clearfix">
            <p id="text1">
                Sign up with
            </p>
            <div id="box3" class="clearfix">
                <a href="#">
                    <input id="feibu-btn" type="button" value="Feibu"></input>
                </a>
                <a href="#">
                    <input id="tuirer-btn" type="button" value="Tuirer"></input>
                </a>
                <a href="#">
                    <input id="gugle-btn" type="button" value="Gugle&#x2b;"></input>
                </a>
                <a href="#">
                    <input id="guijob-btn" type="button" value="Guijob"></input>
                </a>
            </div>
        </div>
    </div>
</body>
</html>